.print {
    width: 100%;
    margin: 0 auto;
}

.print .border{
	border:1px solid;
	padding:20px 30px;
}

.print .header td{
	width:33.3333%;
}
.print .header span{
	font-size:22px;
	font-weight: 800;
}
.print .header img{
	width: auto;
    padding: 15px;
}

.cut{
    position: absolute;
    transform: rotate(-90deg);
}

.hr{
    border-style: dashed;
}
#preview_terbilang{
    position: absolute;
	margin-top: 0;
    font-style: italic;
    padding-left: 40px;
    font-size: 16px;
    display: block;
    padding: 10px 30px;
}
.tertulis{
	margin-left: 100px;
    margin-top: 50px;
}
#preview_tertulis{
	position: absolute;
    margin-left: 195px;
    margin-top: 60px;
    font-size: 16px;
}

.datepicker td, .datepicker th {
    width: 40px;
    height: 35px;
}

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
    background-color: #4e73df!important;
    background-repeat: repeat-x;
    border-color: #4e73df!important;
    color: #fff;
    background-image:none!important;
}

.btn-shortcut{
    height: 145px;
    vertical-align: middle;
    display: inline-grid;
    padding-top: 20px;
}

.btn-shortcut i{
    font-size: 75px;
}

.dropify-wrapper .dropify-message p{
    font-size: 18px;
}